 <main class="index">
    <div class="container text-center my-auto">
      <img src= "img/logo_app.png" style="width: 20%; height: 20%;"/>
      <h1 class="mb-1">AnyNote</h1>
      <h3 class="mb-5">
        <em>La aplicación para el apoyo a informes clínicos de hospitales</em>
      </h3>  
    </div>
</main>