<div class="container p-4">
  <div class="row">

    <div class="col-md-4 mx-auto">
      <form action="/signin" method="POST" class="card card">
        <h3 class="text-center my-3">Inicio de sesión</h3>

        

          <button class="btn btn-primary btn-block" style="background-color: white; color: black;">
            <img src="img/google.png" height ="24" width="24" />
            Continuar con Google
          </button>

        
      </form>

    </div>
  </div>
</div>